
<div class='container'>
    <h2> <%=@user.name%>'s stats </h2> 
    <div class='col-md-4 col-md-offset-4'>
        <ul class="list-group">
        <li class="list-group-item"> Number of decks
          <span class="badge"><%=@user.decks.count%> </span>
        </li>
        <li class="list-group-item"> Total number of cards
          <span class="badge"><%=card_count(@user)%> </span> 
        </li>
        <li class="list-group-item"> Total number of cards studied
          <span class="badge"><%=@user.cards_studied%>  </span> 
        </li>
        <li class="list-group-item"> Total number of cards to be studied
          <span class="badge"><%=@user.cards_to_be_studied%>  </span>
        </li>
        </ul>
        <%if current_user==@user%>
          <%= link_to "Edit #{@user.name}", edit_user_registration_path(@user),class:"badge badge-primary" %>
        <%end%>
    </div>
 </div>