<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=form_for @option do |f|%>
        <%=f.label :name%>
        <%=f.text_field :name, required: true, class: "form-control" %>
        <%=f.label "Easy Bonus"%>
        <%=f.number_field :easyBonus, class: "form-control" %>
        <%=f.label "New Interval"%>
        <%=f.number_field :newInterval, class: "form-control" %>
        <%=f.label "Interval Modifier"%>
        <%=f.number_field :intervalModifier, class: "form-control" %>
        <%=f.submit "Create", class: "btn btn-primary" %> 
    <%end%>
  </div>
</div>