<footer class="footer">
    <nav>
    <ul><li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= link_to 'About', about_path%></li>
    <%if signed_in?%>
        <li><%= link_to 'Decks', decks_path %></li>
        <%if current_user.admin?%>
            <li><%= link_to 'Admin Dashboard', users_path %></li>
        <%end%>
    <%end%> </ul> </nav>
</footer>