<%=form_for @card do |f|%>
    <%=f.hidden_field :deck_id, value:params[:id]%>
    
    <%= fields_for :fronts_attributes do |front_form|%>
        <%=front_form.label :front%>
        <%=front_form.text_field :text_field%> 
        <%=front_form.label :media%>
        <%=front_form.file_field :media%>
    <%end%>
    <br>
    <%= fields_for :backs_attributes do |back_form|%>
        <%=back_form.label :back%>
        <%=back_form.text_field :text_field%>
        <%=back_form.label :media%>
        <%=back_form.file_field :media%>
    <%end%>
    <p>
        <%= f.label :tag_list %><br />
        <%= f.text_field :tag_list %>
    </p>
    <%=f.submit yield(:button_text)%>
<%end%>
