<div>
<h1><%=Deck.find(params[:deck_id]).name%> </h1>
<%if @cards.blank?%>
    <p> No cards in this deck. Do you want to <%= link_to 'Create', new_card_path(id:@deck.id) %> one? </p>
<%else%>
<table>
    <thead>
        <tr>
            <th scope='col'>Card </th>
            <th scope='col'>Front </th>
            <th scope='col'>Back </th>
            <th scope='col'>Day to study</th>
        </tr>
    </thead>
    <tbody> 
        <%@cards.each do |card|%>
            <tr>
                <td> <%= link_to card.id, card_path(card) %> </td>
                <td> <%=card.fronts.first.text_field%> </td>
                <td> <%=card.backs.first.text_field%> </td>
                <%if card.day_to_study.blank?%>
                    <td> You haven't studied this card yet </td>
                <%else%>
                    <td> <%=card.day_to_study%> </td>
                <%end%>
                <td> <%= link_to 'Delete?', card_path(card), method: :delete %> </td>
            </tr>
        <%end%>
    </tbody>
</table>
<p> Do you want to <%= link_to 'Add', new_card_path(id:@deck.id) %> a card to this deck? </p>
<%end%>
</div>