<%=form_for :card,remote: true do |f|%>
    <%if @card.blank?%>
        <p> No cards remaining </p>
    <%else%>
    <div >
        <%=f.hidden_field :deck_id, value: @card.deck.id%>
        <%=f.hidden_field :card_id, value: @card.id%>
        <p> <strong>Question: </strong><%=f.label :front,@card.fronts.first.text_field%></p>
        <p> <strong>Answer: </strong> <%=f.label :back,@card.backs.first.text_field%></p>
        <%=f.select(:status,options_for_select([
                                        ['Easy',1],
                                        ['Good',2],
                                        ['Hard',3]
        ]))%>
        <span>
        <%=f.submit 'check'%>
    </div>
    <%end%>
<%end%>
