<%=form_for :card,remote: true do |f|%>
    <%if @card.blank?%>
        <p> No cards remaining </p>
    <%else%>
    <div >
        <%=f.hidden_field :deck_id, value: @card.deck.id%>
        <%=f.hidden_field :card_id, value: @card.id%>
        <p> <strong>Question: </strong>
            <%if @card.fronts.first.media.attached?%>
                <%= image_tag @card.fronts.first.media, size: "200x200"%>
            <%else%>
                <%=@card.fronts.first.text_field%>
            <%end%>
        </p>
        <p> <strong>Answer: </strong> 
            <%if @card.backs.first.media.attached?%>
                <%= image_tag @card.backs.first.media, size: "200x200"%>
            <%else%>
                <%=@card.backs.first.text_field%>
            <%end%>            
        </p>
        <%=f.select(:status,options_for_select([
                                        ['Easy',1],
                                        ['Good',2],
                                        ['Hard',3]
        ]))%>
        <span>
        <%=f.submit 'check'%>
    </div>
    <%end%>
<%end%>
